factura.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT FACTURA (CLIENT*)>
<!ELEMENT CLIENT (PRODUS*)>
<!ATTLIST CLIENT ID CDATA #REQUIRED>
<!ATTLIST CLIENT nume CDATA #REQUIRED>
<!ATTLIST CLIENT adresa_facturare CDATA #REQUIRED>
<!ATTLIST CLIENT Firma CDATA #IMPLIED>
<!ELEMENT PRODUS (DENUMIRE, DESCRIERE, PRET)>
<!ELEMENT DENUMIRE (#PCDATA)>
<!ELEMENT DESCRIERE (#PCDATA)>
<!ELEMENT PRET (#PCDATA)>
